{
   'sco': 'https://app.dwo.nl/dwo/rest/public/scoData/getJSONLaunchDataBytes?scoId=674042',
   'width': 400,
   'height': 400,
   'cas': '',
   'css': '',
   'engine': 'https://cdn.dwo.nl/apps/',
   'locale': 'fr'
}
