.qti-customInteraction
div.numworxPCIplayer {
	background-color: wheat;
	position: relative;
	padding: 2px;
}

div.numworxPCIplayer iframe {
	width: 100%;
}

div.numworxPCIplayer iframe.sleep {
	pointer-events: none;
}